.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
g:focus, path:focus {
  outline: none;
}

.pagesize-select .MuiSelect-select {
  padding: 5px 12px !important;
  width: 60px;
}
.nopa-pagesize-select .MuiSelect-select {
  padding: 0px 12px !important;
  width: 60px;
}
.normal-select .MuiSelect-select {
  padding: 6px 32px 6px 10px !important;
  min-width: 61px !important;
}
.select-store {
  width: 100% !important;
}

input {
  height: 36px !important;
}

.css-10d30g3-MuiPaper-root-MuiDialog-paper {
  border-radius: 5px !important;
}